# https://www.getzola.org/documentation/deployment/netlify/

[build]
base    = "docs"
publish = "public"
command = """
  ARCH=$(uname -m)
  if [ "$ARCH" = "aarch64" ]; then
    ZOLA_URL="https://github.com/getzola/zola/releases/download/v0.22.1/zola-v0.22.1-aarch64-unknown-linux-gnu.tar.gz"
  elif [ "$ARCH" = "x86_64" ]; then
    ZOLA_URL="https://github.com/getzola/zola/releases/download/v0.22.1/zola-v0.22.1-x86_64-unknown-linux-musl.tar.gz"
  else
    echo "Unsupported architecture: $ARCH"
    exit 1
  fi
  curl -sL $ZOLA_URL | tar zxv && ./zola build
"""


[build.environment]
ZOLA_VERSION = "0.21.0"

[context.deploy-preview]
command = """
  ARCH=$(uname -m)
  if [ "$ARCH" = "aarch64" ]; then
    ZOLA_URL="https://github.com/getzola/zola/releases/download/v0.22.1/zola-v0.22.1-aarch64-unknown-linux-gnu.tar.gz"
  elif [ "$ARCH" = "x86_64" ]; then
    ZOLA_URL="https://github.com/getzola/zola/releases/download/v0.22.1/zola-v0.22.1-x86_64-unknown-linux-musl.tar.gz"
  else
    echo "Unsupported architecture: $ARCH"
    exit 1
  fi
  curl -sL $ZOLA_URL | tar zxv && ./zola build --base-url $DEPLOY_PRIME_URL
"""
